title 找房
meta(charset="utf-8")
meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
meta(name="description",content="轻松找房，解放你的双手以及App")
link(href="",rel="stylesheet")
script(src="/static/lib/jquery/v2.2.4/jquery.min.js")

