extends ../pug-layout/layout.pug
block body
    div.baiduMap#map
    script(src="/static/js/base.js")
    style.
        .baiduMap {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
